repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.15.2
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

- repo: local
  hooks:
    - id: pyrefly-check
      name: Pyrefly (type checking) (with uv)
      entry: uv run pyrefly check
      language: system
      types: [python]
      pass_filenames: false
      always_run: true

    - id: mypy
      name: mypy (with uv)
      entry: uv run python -m mypy .
      language: system
      types: [python]
      pass_filenames: false
      always_run: true
